# General
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Data files
data/*.csv
data/*.json
!data/.gitkeep

# Private keys and security
*_key
*_privkey
*.pem
*.key
*id_rsa*
*id_dsa*
*id_ecdsa*
*id_ed25519*
*identity
*Trylobyte
*.pub
*/.ssh/
# Add any other private key patterns here
